<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Northwind Traders</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <!-- <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li> -->
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/category']"><i class="fa fa-cube" aria-hidden="true"></i> Categories</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/supplier']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Suppliers</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/product']"><i class="fa fa-cubes" aria-hidden="true"></i> Products</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/customer']"><i class="fa fa-address-book" aria-hidden="true"></i> Customers</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/order']"><i class="fa fa-bullhorn" aria-hidden="true"></i> Orders</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/employee']"><i class="fa fa-users" aria-hidden="true"></i> Employees</a>
                <li [routerLinkActive]="['link-active']"><a [routerLink]="['/setting']"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
